<!DOCTYPE html>
<html lang="pt-br" ng-controller="mainController" ng-app="blue_bank">
  <head>
    <title><%=typeof title == 'undefined' ? 'BlueBank' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="App desenvolvido para demonstrar conhecimentos full stack">
    <meta name="author" content="Alex Pimenta Viana">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Fim Favicon -->
  
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/Bootstrap-3.3.7/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/Bootstrap-3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/Bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="/styles/Bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/datatables.min.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/jquery-ui-1.10.0.custom.css">
    <link rel="stylesheet" href="/styles/jquery.ui.1.10.0.ie.css">
    <link rel="stylesheet" href="/styles/media-query.css">
    <!--STYLES END-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
  </head>

  <body>
    <%- body %>

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery/jquery.min.js"></script>
    <script src="/js/dependencies/angular/angular.min.js"></script>
    <script src="/js/dependencies/angular/angular-locale_pt-br.js"></script>
    <script src="/js/dependencies/jquery.maskMoney.js"></script>
    <script src="/js/dependencies/moment.min.js"></script>
    <script src="/js/dependencies/app.js"></script>
    <script src="/js/dependencies/angular/directive/datatable-directive.js"></script>
    <script src="/js/dependencies/angular/directive/directives.js"></script>
    <script src="/js/dependencies/angular/directive/form-directive.js"></script>
    <script src="/js/dependencies/angular/filter/filters.js"></script>
    <script src="/js/dependencies/angular/route/route.js"></script>
    <script src="/js/dependencies/angular/service/service.js"></script>
    <script src="/js/angular/controller/extratoController.js"></script>
    <script src="/js/angular/controller/homeController.js"></script>
    <script src="/js/angular/controller/loginController.js"></script>
    <script src="/js/angular/controller/mainController.js"></script>
    <script src="/js/angular/controller/transferenciaController.js"></script>
    <script src="/js/vendor/angular-route.min.js"></script>
    <script src="/js/vendor/angular-ui-router.js"></script>
    <script src="/js/vendor/datatables.min.js"></script>
    <script src="/js/vendor/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="/js/vendor/jquery.backstretch.min.js"></script>
    <script src="/js/vendor/jquery.maskedinput-1.4.1.min.js"></script>
    <script src="/js/vendor/jquery.ui.datepicker-pt-BR.js"></script>
    <script src="/js/vendor/mask.min.js"></script>
    <script src="/js/funcoes.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
