<!DOCTYPE html>
<html lang="pt-br" ng-controller="mainController" ng-app="blue_bank">
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="App desenvolvido para demonstrar conhecimentos full stack">
    <meta name="author" content="Alex Pimenta Viana">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Fim Favicon -->

    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->
  
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery/jquery.min.js"></script>
    <script src="/js/dependencies/angular/angular.min.js"></script>
    <script src="/js/dependencies/app.js"></script>
    <script src="/js/dependencies/moment.min.js"></script>
    <script src="/js/vendor/angular-route.min.js"></script>
    <script src="/js/vendor/angular-ui-router.js"></script>
    <script src="/js/vendor/mask.min.js"></script>
    <script src="/js/angular/controller/admin/arquivoController.js"></script>
    <script src="/js/angular/controller/admin/cadastroController.js"></script>
    <script src="/js/angular/controller/admin/cadastroPaginaController.js"></script>
    <script src="/js/angular/controller/admin/clienteController.js"></script>
    <script src="/js/angular/controller/admin/clienteFrontController.js"></script>
    <script src="/js/angular/controller/admin/cobrancaController.js"></script>
    <script src="/js/angular/controller/admin/listaOrcamentoController.js"></script>
    <script src="/js/angular/controller/admin/listaOrcamentoFrontController.js"></script>
    <script src="/js/angular/controller/admin/orcamentoCategoriaController.js"></script>
    <script src="/js/angular/controller/admin/orcamentoClienteController.js"></script>
    <script src="/js/angular/controller/admin/orcamentoController.js"></script>
    <script src="/js/angular/controller/admin/usuarioAdminController.js"></script>
    <script src="/js/angular/controller/admin/usuarioController.js"></script>
    <script src="/js/angular/controller/contatoController.js"></script>
    <script src="/js/angular/controller/mainController.js"></script>
    <script src="/js/angular/directive/datatable-directive.js"></script>
    <script src="/js/angular/directive/directives.js"></script>
    <script src="/js/angular/directive/directives.min.js"></script>
    <script src="/js/angular/directive/form-directive.js"></script>
    <script src="/js/angular/filter/filters.js"></script>
    <script src="/js/angular/route/route.js"></script>
    <script src="/js/angular/service/service.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
